@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap: .5rem
}

header{
    background-color: rgb(66, 45, 122);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    padding-block: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.bh{
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: 0.2s;
}

.log img{
    display: flexbox;
    width: 120px;
    height: auto;
}

a:link {
    font-family: 'Comic Neue';
    color: rgb(255, 255, 255); 
    text-decoration: none;
  }

a:visited {
    color: rgb(230, 230, 230);
}

main{
    padding: 2rem;
    font-family: 'Comic Neue';
    color: rgb(255, 255, 255);
    min-height: 80vh;
    background-color: black;
    background-image: url(../images/banner.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
}

footer{
    padding: 1rem;
    background-color: rgb(66, 45, 122);
    color: rgb(217, 255, 0);
    display: flex;
    justify-content: center;
    align-content: center;
}

.link-index{
    background-color: rgb(8, 8, 8, 0.8);
    font-family: 'Comic Neue';
    padding: 2rem;
    border: 5px solid yellow;
    display: flexbox;
    align-items: center;
    text-align: center;
    border-radius: 100vmax;
}

#carrusel-slider {
    font-family: sans-serif;
    margin: auto;
    background-color: rgba(66, 45, 122, 0.5);
    max-width: 800px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5vmax;
}

#carrusel-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#carrusel-slider>ul.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#carrusel-slider>ul.slider h1 {
    position: absolute;
    background-color: rgb(58, 4, 158, 0.75);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    border-radius: 5vmax;
}

#carrusel-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: rgb(28, 29, 110);
    border-radius: 5vmax;
    z-index: 0; 
}

#carrusel-slider>ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5vmax;
}

#carrusel-slider>ul.slider li:first-child {
    opacity: 1;
    z-index: 0; 
    /*Mostramos el primer <li>*/
}

#carrusel-slider>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

#carrusel-slider>.menu {
    text-align: center;
    margin: 20px;
}

#carrusel-slider>.menu li {
    display: inline-block;
    text-align: center;
}

#carrusel-slider>.menu li a {
    display: inline-block;
    color: rgb(140, 182, 245);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 35%;
}

#carrusel-slider > ul.slider li:first-child h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    width: 80%;
  }

  #carrusel-slider > ul.slider li h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    width: 80%;
  }

  #carrusel-slider > ul.slider li:target {
    opacity: 1;
    z-index: 1;
  }

  .about{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    align-items: center;
  }

  .about .text {
    flex: 1;
  }

  .about .image {
    margin-left: 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item img {
    width: 100%;
    max-width: 200px;
  }

  .item button {
    margin-top: 10px;
  }

  .item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #875cff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .item a:hover {
    background-color: #875cff;
  }

  .btn-warning {
    background-color: rgb(60, 255, 60);
    color: black; /* Puedes ajustar el color del texto según tus preferencias */
    /* Otros estilos opcionales según tus necesidades */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn-warning:hover {
    background-color: darkyellow; /* Puedes ajustar el color de fondo al pasar el cursor */
  }